<div>
  <div
    class="pointer hover-list"
  >
    <app-dashboard-projects-list-header
      [isSelected]="!!(selectedFilters && selectedFilters.id === '')"
      (onActiveTab)="setActiveTab('')"
    ></app-dashboard-projects-list-header>
  </div>
  @for (project of projects; track project) {
    @if (
      !selectedFilters || selectedFilters && (
        selectedFilters.status === undefined || selectedFilters.status.toString() === 'undefined' || selectedFilters.status === project.status
        )
      ) {
      <!--я перепишу этот ужасный ужас -->
      <div
        class="pointer hover-list"
        (click)="setActiveTab(project.id)"
      >
        <app-dashboard-projects-list-item
          [isSelected]="!!(selectedFilters && selectedFilters.id === project.id)"
          [project]="project"
        ></app-dashboard-projects-list-item>
      </div>
  }
}
</div>
