<div>
  <div
    class="pointer hover-list"
  >
    <app-dashboard-projects-list-header
      [isSelected]="!!(selectedFilters && selectedFilters.id === '')"
      (onActiveTab)="setActiveTab('')"
    ></app-dashboard-projects-list-header>
  </div>
  <div class="vh-custom-calc overflow-y-scroll">
    @for (project of projects; track project) {
      @if (
        !selectedFilters || selectedFilters && (
          !+selectedFilters.status || selectedFilters.status === project.status
          )
        ) {
        <div
          class="pointer hover-list"
          (click)="setActiveTab(project.id)"
        >
          <app-dashboard-projects-list-item
            [isSelected]="!!(selectedFilters && selectedFilters.id === project.id)"
            [project]="project"
          ></app-dashboard-projects-list-item>
        </div>
      }
    }
  </div>
</div>
