.placeholder-animation {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  opacity: 0.7;
  background: #f6f7f8;
  background: linear-gradient(to left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  position: relative;
  border-radius: 10px;
  background-size: 500% 100%;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
