<div class="">
  <div
    class="pointer hover-list"
  >
    <app-dashboard-projects-list-header
      [isSelected]="activeTab === ''"
      (onActiveTab)="setActiveTab('')"
    ></app-dashboard-projects-list-header>
  </div>
  @for (project of projects; track project) {
    <div
      class="pointer hover-list"
      (click)="setActiveTab(project.id)"
    >
      <app-dashboard-projects-list-item
        [isSelected]="activeTab === project.id"
        [project]="project"
      ></app-dashboard-projects-list-item>
    </div>
}
</div>
