<div class="row">
  <div class="col-12 border-bottom border-top width-100 bg-white text-center py-2 mb-4">
    <h4>Project name</h4>
  </div>

  <div class="col-md-8 mt-3">
    <app-dashboard-widgets-statuses-graph></app-dashboard-widgets-statuses-graph>
  </div>
  <div class="col-md-4 mt-3">
    <app-dashboard-widgets-last-update></app-dashboard-widgets-last-update>
  </div>
  <div class="col-md-4 mt-3">
    <app-dashboard-widgets-total-tasks [widgetData]="10"></app-dashboard-widgets-total-tasks>
  </div>
  <div class="col-md-4 mt-3">
    <app-dashboard-widgets-status [widgetData]="1"></app-dashboard-widgets-status>
  </div>
  <div class="col-md-4 mt-3">
    <app-dashboard-widgets-date-range [widgetData]="[a, b]"></app-dashboard-widgets-date-range>
  </div>
  <div class="col-md-8 mt-3">
    <app-dashboard-widgets-tasks-graph></app-dashboard-widgets-tasks-graph>
  </div>
</div>
