/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.text-small {
  font-size: 0.85rem !important;
}
.bg-gray-400 {
  background-color: #ced4da;
}
.text-gray-400 {
  color: #ced4da;
}
.bg-gray-100 {
  background-color: #f8f9fa;
}
.pointer {
    cursor: pointer;
}
